fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic[email]
email-validator
httpx
python-dotenv
tensorflow-cpu
protobuf==3.20.3
numpy
opencv-python-headless
pillow
pillow-heif
mediapipe==0.10.9
pytest
pytest-asyncio